.heroBg {
  position: relative; /* Ensure the overlay is positioned relative to this container */
  background-image: url('../../assets/34682605_8136204.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
